--no-private
--title=OpenTelemetry Exporter Google Cloud Trace
--exclude _pb\.rb$
--markup markdown
--markup-provider redcarpet
--readme README.md

./lib/**/*.rb
-
README.md
AUTHENTICATION.md
CONTRIBUTING.md
CHANGELOG.md
CODE_OF_CONDUCT.md
LICENSE
